@charset "ISO-8859-1";

/*LOGIN*/
.body_login {
	background-color: #333A73;
}

.sombraLogin {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); /* Añadimos sombra */
}

.container{
	height: 100vh;
}

.titulo {
	background-color: #333A73;
	padding: 10px;
	color: white;
	margin-bottom: 20px;
}

